<div class="card customCard" id="botCard">
    <div class="card-header">
        <div class="row">
            <div class="col">
                <p class="card-text">Num pedido {{ idPedido }}</p>
            </div>
            <div class="col">
                <p class="card-text" style="float: right; font-size: 13px;">Creado {{ date }}</p>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <p class="card-text">Num cliente: {{ idCustomer }}</p>
            </div>
            <div class="col-md-12">
                <a target="_blank" href="{{file}}"><button class="cardButton">Ver Pedido</button></a>
            </div>
        </div>
    </div>
</div>