<div class="mainContainer">
<div class="container" style="padding-top: 80px;">
<!--  MODAL  -->
<ng-template #content let-modal>
  <div class="modal-header" >
    <h4 class="modal-title" id="modal-basic-title">Crear bot</h4>
    <button type="button" class="btn-close btn btn-dark btn-lg" aria-label="Close"  (click)="modal.dismiss('Cross click')"></button>
  </div>
  
  <div class="modal-body" >
    <div class="row">
        <mat-form-field appearance="fill">
          <mat-label>Nombre del bot</mat-label>
          <input required ngModel name="name" #name="ngModel" id="name" (change)="setName(name)" matInput placeholder="Nombre único">
        </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field appearance="fill">
        <mat-label>Slug</mat-label>
        <input required ngModel name="urlKey" #urlKey="ngModel" id="urlKey" (change)="setURLKEY(urlKey)" matInput ejemplo="Así te verán tus clientes">
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field appearance="fill">
        <mat-label>Descripción</mat-label>
        <textarea required ngModel ngModelname="descripcion" #descripcion="ngModel" id="descripcion" (change)="setDescripcion(descripcion)" matInput placeholder="Función del bot" rows="8" ></textarea>
      </mat-form-field>
  </div>

  <h5>Datos de la empresa para los tickets</h5>
  <div class="row">
    <mat-form-field appearance="fill">
      <mat-label>Dirección 1</mat-label>
      <input required ngModel ngModelname="direccion1" #direccion1="ngModel" id="direccion1" (change)="setDireccion1(direccion1)" matInput placeholder="123 Main Street" >
    </mat-form-field>
</div>

<div class="row">
  <mat-form-field appearance="fill">
    <mat-label>Dirección 2</mat-label>
    <input required ngModel ngModelname="direccion2" #direccion2="ngModel" id="direccion2" (change)="setDireccion2(direccion2)" matInput placeholder="New York, NY, 10025" >
  </mat-form-field>
</div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn modalButton" (click)="newBot()">Crear bot</button>
  </div>
</ng-template>
<!--  MODAL  -->

<!--  HAS NO BOTS  -->
<div *ngIf="!displayTitle" class="d-flex align-items-center justify-content-center" style="min-height:80vh">
  <div>
    <div class="d-flex align-items-center justify-content-center">
      <img class="headerImage" src="../../assets/sad.png" >
    </div>
    <div class="headerTitle">No tienes bots</div>
    <div class="d-flex justify-content-center">
      <button type="button" class="btn createBotButton" (click)="open(content)">Crear bot</button>
    </div>
  </div>
</div>
<!--  HAS NO BOTS  -->

<!--  HAS BOTS  -->
<div *ngIf="displayTitle">
  <div class="row">
    <div class="col">
      <button class="btn customCornerButton" (click)="open(content)" style="float: right !important; margin-top: 30px; max-width: 300px;">Crear nuevo bot</button>
    </div>
  </div>
  
  <div class="heroes" style="padding-bottom: 30px">
    <a *ngFor="let bot of Hero" id=bot class="link">
      <app-bots-card [id]="bot.id" [name]="bot.name" 
      [desc]="bot.description" [key]="bot.urlKey"
        [date]="bot.createdAt"
        [loc1]="bot.address1"
        [loc2]="bot.address2"></app-bots-card>
    </a>
  </div>
</div>
<!--  HAS BOTS   -->
</div>
</div>