<nb-layout style="padding: 0px !important;">
<nb-layout-column style="padding: 0px !important;">




    <div>
        <div class="d-flex align-items-center justify-content-center" style="min-width: 100vw;">
            <div class="error alert alert-danger" role="alert">
    
            </div>
        </div>
        <div class="d-flex align-items-center justify-content-center" style="min-width: 100vw;">
            <div class="success alert alert-success" role="alert">
    
            </div>
        </div>
        <default-navbar>
        </default-navbar>
     


    </div>

    
</nb-layout-column>



</nb-layout>