<div class="card customCard" id="botCard">
    <div class="card-header">
        <div class="row">
            <div class="col">
                <p class="card-text">{{ name }}</p>
            </div>
            <div class="col">
              <p class="card-text"  style="float: right; font-size: 13px;">Creado {{createdAt}} </p>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <p class="card-text">{{ desc }}</p>
            </div>
            <div class="col-md-12">
                <button class="botCard{{ id }} cardButton">Ver lista</button>
            </div>
        </div>
    </div>
</div>