
<div class="hero d-flex align-items-center justify-content-center">
  <div class="container">
    <div class="row d-flex align-items-center justify-content-center">
      <div class="col-lg">
        <div class="row">
          <div class="col-7">
              <h1 class="title">Chat de ventas</h1>
          </div>
          <div class="col-12 subtitle">
            <h4>
              Crea tu propio chat en minutos: Agiliza el proceso de levantamiento de pedidos.
            </h4>
            <button class="colButton btn btn-dark btn-lg createBotButton" mat-raised-button
              [routerLink]="['/login']">Empezar</button>
          </div>
        </div>
      </div>
      <div class="col-lg d-flex align-items-center justify-content-center" style="margin-top: 20px;">
        <img class="responsiveImage" src="assets/lol.png">
      </div>
    </div>
  </div>
</div>

<div class="banner d-flex justify-content-center">
      <p class="centerText">
        Adaptable
      </p>
</div>


<div class="miniHero d-flex align-items-center justify-content-center">
  <div class="container">
    <div class="row d-flex align-items-center justify-content-center">
      <div class="col-lg d-flex align-items-center justify-content-center hideOnMobile">
        <img class="responsiveImage" src="assets/one.png">
      </div>
      <div class="col-lg">
        <div class="row">
          <div class="col-12 listTitle">
              <h1>1. Sube tus productos </h1>
          </div>
          <div class="col-12">
            <h4>
              Registra tus productos, personalizalos a tu manera
            </h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="miniHero d-flex align-items-center justify-content-center">
  <div class="container">
    <div class="row d-flex align-items-center justify-content-center">
      <div class="col-lg">
        <div class="row">
          <div class="col-12 listTitle">
              <h1>2. Registra a tus clientes</h1>
          </div>
          <div class="col-12">
            <h4>
              Registra tus productos, personalizalos a tu manera
            </h4>
          </div>
        </div>
      </div>
      <div class="col-lg d-flex align-items-center justify-content-center hideOnMobile">
        <img class="responsiveImage" src="assets/two.png">
      </div>
    </div>
  </div>
</div>

<div class="miniHero d-flex align-items-center justify-content-center">
  <div class="container">
    <div class="row d-flex align-items-center justify-content-center">
      <div class="col-lg d-flex align-items-center justify-content-center hideOnMobile">
        <img class="responsiveImage" src="assets/three.png">
      </div>
      <div class="col-lg">
        <div class="row">
          <div class="col-12 listTitle">
              <h1>3. Configura tu lista de precios</h1>
          </div>
          <div class="col-12">
            <h4>
              Registra tus productos, personalizalos a tu manera
            </h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="banner d-flex justify-content-center">
  <p class="centerText">
    Vende
  </p>
</div>
